body{
    background-image: url("img/carrusel2.png");
}


.loginForm{
    margin-top: 90px;
    width: 800px;
    height: 400px;
    background: rgb(170, 42, 42);
    border-radius: 15px;
    


}

.loginForm2{
    width: 700px;
    height: 400px;
    background: rgb(230, 135, 10);
}


.loginForm3{
    width: 650px;
    height: 400px;
    background: rgb(220, 219, 219);
    text-align: center;
    color: rgb(70, 70, 70);
}

.loginForm3 input{
    width: 350px;
    margin: auto;
}
